<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5" style="height: 569px;">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <h1>Land Records Digitization using Blockchain</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex" style="height: 217px;">
                                <div class="card" style="height: 219px;">
                                    <div class="card-body" style="width: 444px;">
                                        <h4 class="card-title">Login</h4>
                                        <p class="card-text"><br>Click the button below to login to the LRDB application<br><br></p><a href="login"><button class="btn btn-primary" type="button" style="width: 378px;">Login</button></a></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body" style="height: 217px;width: 435px;">
                                        <h4 class="card-title">Register</h4>
                                        <p class="card-text"><br>Click the button below to register to the LRDB application<br></p><a href="register"><button class="btn btn-primary" type="button" style="width: 396px;">Register</button></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>